.menubar {
  margin-top: 0;
  padding-bottom: 0;
  background-color: #1c6ea4;
  vertical-align: middle;
  height: 100px;
  position: relative;
}

.button_styles {
  padding: 5px 5px 0px 0px;
  border-radius: 5px;
  outline: 10;
  text-transform: uppercase;
  cursor: pointer;
  width: 100px;
}
ul.navList li {
  display: inline-block;
  padding: 1px;
  padding-top: 4px;
}
ul.navList {
  margin: 0px;
}
.ulHolder {
  margin-left: auto;
  margin-right: 100px;
  width: 100px;
  height: 100%;
  text-align: center;
}

.h1 {
  margin: 0px;
  color: whitesmoke;
  text-shadow: 1px 2px 0px #1c6ea4;
  /* margin-bottom: 40%; */
  text-align: center;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2.2em;
}

.test {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
