.fullPage {
  height: 100vh;
}

.loginDiv {
  position: absolute;
  top: 0;
  right: 0;
}

.loginDiv div {
}

.userPic {
  width: 30px;
  height: 30px;
  border-radius: 10px;
}

.trueLogin {
  text-align: center;
  margin-left: 4px;
}
.login {
  padding: 10px;
}
.holder {
  padding: 5px;
}

.anotherHolder {
  background-color: red;
  right: 8px;
  position: absolute;
  top: 8px;
}
