.boxes {
  border: 1px solid black;
}

.indivBoxes {
  border: 3px solid royalblue;
  border-radius: 10px;
  padding: 1%;
  display:inline-table;
  margin: 10px;
  background-color: #CCDDFF;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.a {
  display: ruby-base-container;
  
}
